@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-VariableFont_opsz\,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --color-primary: #3498db;
    --color-secondary: #2ecc71;
    --color-background: #f5f5f5;
    --color-headings: #1b0760;
    --color-text: #918ca4;
    --color-accent: #e74c3c;
}

/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--color-text);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '-->';
    margin-left: 0.5rem;
}

.link-arrow:hover::after {
    margin-left: 1rem;
    transition: margin-left 0.3s ease;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */

.badge {
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background-color: var(--color-primary);
    color: white;
}

.badge--secondary {
    background-color: var(--color-secondary);
    color: white;
}

.badge--small {
    font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }
    
    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(/images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.75rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}